<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button [routerLink]="['/pokemon', pokemon.id]" *ngFor="let pokemon of pokemons">
      <ion-thumbnail slot="start">
        <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
      </ion-thumbnail>
      <ion-label>
        {{ pokemon.name | titlecase }}
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botões de paginação no final da lista -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="prevPage()" [disabled]="currentPage === 1">
        <ion-icon name="chevron-back"></ion-icon>
        Anterior
      </ion-button>
    </ion-buttons>
    
    <ion-title slot="center">Página {{ currentPage }}</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="nextPage()" [disabled]="(currentPage * limit) >= totalPokemons">
        Próxima
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>